@import "theme.rasi"
configuration {
	modes: [drun];
	show-icons: true;
	location: 6;
}
prompt, case-indicator, box, overlay, mainbox, cursor {
	enabled: false;
}
window {
	children: [inputbar, listview];
	orientation: vertical;
	width: 90%;
	margin: 0 0 30;
}  
inputbar {
	children: [entry];
}
listview {
	border: 1px 0 0 0;
	children: [element];
	orientation: horizontal;
	columns: 7;
	lines: 5;
}
element {
	children: [element-icon, element-text];
}
