@import "theme.rasi"
configuration {
	modes: [drun];
	show-icons: true;
	location: 6;
}
window {
	orientation: vertical;
	margin: 0 0 1.5em;
}  
inputbar {
	padding: 0 0 0.4em 0;
	border-color: @accent;
	border: 0 0 1px 0;
}
listview {
	orientation: horizontal;
	columns: 3;
	lines: 3;
}
