@import "theme.rasi"
configuration {
	modes: [drun];
	location: 6;
}
prompt, case-indicator, box, overlay, mainbox, cursor {
	enabled: false;
}
window {
	children: [inputbar, listview];
	orientation: vertical;
	width: 70%;
	margin: 0 0 30;
}  
listview {
	children: [element];
	orientation: vertical;
	columns: 1;
	lines: 4;
}
inputbar {
	children: [entry];
}
element {
	children: [element-icon, element-text];
}
