* {
	bg: #0B1019;
	fg: #C5CCFC;
	accent: #BACCFF;
	null: transparent;
}
configuration {
	modes: [drun];
	location: 6;
}
prompt, case-indicator, box, overlay, mainbox, cursor {
	enabled: false;
}
window {
	border-color: @accent;
	children: [inputbar, listview];
	orientation: vertical;
	background-color: @bg;
	width: 70%;
	border: 1px;
	border-color: @accent;
	margin:0 0 30 0;
	border-radius: 4;
}  
listview {
	children: [element];
	orientation: vertical;
	height: 25px;
	columns: 1;
	lines: 4;
	border-color: @accent;
	border: 1px 0 0 0;
	background-color: @null;
	padding: 4;
}
inputbar {
	children: [entry];
	width: 30%;
	background-color: @bg;

}
entry {
	vertical-align: 0.5;
	background-color: @null;
	color: @fg;
	padding: 0 0 0 8px;
}
element {
	margin: 0;
	padding: 0.20em;
	children: [element-icon, element-text];
	background-color: @null;
}
element.selected {
	border-radius: 4;
	background-color: @accent;
}
element-text {
	font: "JetBrainsMono Nerd Font Propo Bold 14px";
	vertical-align: 0.5;
	color: @fg;
	background-color: @null;
}
element-text.selected {
	color: black;
}
element-icon {
	background-color: @null;
}
