* {
	bg: #0B1019;
	fg: #C5CCFC;
	accent: #BACCFF;
	null: transparent;
}
configuration {
	modes: [drun];
	location: 6;
}
prompt, inputbar, case-indicator, overlay, mainbox {
	enabled: false;
}
window {
	margin: 0 0 30 0;
	children: [listview];
	border: 1px;
	border-radius: 4;
	border-color: @accent;
	background-color: @bg;
	orientation: horizontal;
}
listview {
	spacing: 0;
	padding: 4;
	lines: 1;
	columns: 12;
	children: [element];
	background-color: @null;
}
element {
	padding: 7;
	children: [element-text];
	background-color: @null;
	orientation: vertical;
}
element.selected {
	border-radius: 4;
	background-color: @accent;
}
element-text {
	font: "JetBrainsMono Nerd Font Propo Bold 17px";
	horizontal-align: 0.5;
	vertical-align: 0.5;
	color: @fg;
	background-color: @null;
}
element-text.selected {
	color: black;
}
