@import "theme.rasi"

* {
	font: "JetBrainsMono Nerd Font Propo ExtraBold 17.5px";
}
configuration {
	modes: [drun];
	location: 6;
}
prompt, inputbar, case-indicator, overlay, mainbox {
	enabled: false;
}
window {
    width: 70%;
	margin: 0 0 30;
	children: [listview];
	orientation: horizontal;
}
listview {
    border: 0;
	padding: 4;
	lines: 1;
	columns: 12;
	children: [element];
}
element {
	padding: 0.4em 0;
	children: [element-text];
}
element-text {
	horizontal-align: 0.5;
	vertical-align: 0.5;
}
