@import "theme.rasi"
configuration {
	modes: [drun];
    location: 6;
}
window {
	children: [listview];
	orientation: horizontal;
    margin: 1.8em 0;
}  
listview {
	orientation: horizontal;
	columns: 10;
    lines: 1;
	margin: 0.4em;
}
element-text {
	horizontal-align: 0.5;
	vertical-align: 0.5;
    margin: 0 0.40em;
	font: "JetBrainsMono Nerd Font Propo 25px";
}
