* {
	bg: rgba(0,0,0, 0.90);
	fg: rgba(255, 255, 255, 1);
	accent: rgba(130, 154, 210, 1);
	transparent: rgba(0, 0, 0, 0);
}
configuration {
	modes: [drun];
	location: 6;
}
prompt, inputbar, case-indicator, overlay, mainbox {
	enabled: false;
}
window {
	margin: 0 0 30 0;
	children: [listview];
	border: 1px;
	border-color: @accent;
	background-color: @bg;
	border-radius: 4;
}
listview {
	padding: 4;
	lines: 1;
	columns: 12;
	flow: horizontal;
	background-color: @transparent;
}
element {
	orientation: vertical;
	children: [element-text];
	padding: 8px 0 8px 0;
	background-color: @transparent;
}
element.selected {
	border-radius: 4;
	background-color: @accent;
}
element-text {
	font: "D2CodingLigature Nerd Font Propo 13";
	horizontal-align: 0.5;
	vertical-align: 0.5;
	color: @fg;
	background-color: @transparent;
}
element-text.selected {
	color: rgba (0,0,0,1);
}
element-icon {
	enabled: false;
}
