window#waybar {
    background-color: transparent;
	font-family: "JetBrainsMonoNL Nerd Font Propo";
	font-weight: 900;
	font-size: 13.2px;
}
#custom-time, 
#custom-date, 
#hardware-monitor, 
#mpd {
	padding: 0 5px 0 5px;
	margin: 0;
}
.modules-center {
    background-color: rgba(11,16,25, 1);
    border: #bcccfc solid 1px;
    border-radius: 0.3em;
	color: #C5CCFC; 
	padding: 0 0.4em 0 0.4em;
}
#gamemode {
	color: #C5CCFC;
	margin: 0;
	background-color: transparent;
	font-size: 1.5em;
}
#gamemode.running {
	color: #ff4ba8;
}
#custom-separator {
    font-weight: 900;
    font-size: 1.4em;
    font-family: Terminess Nerd Font Propo;
	margin: 0 0.6em 0 0.6em;
	color: #FF4BA8;
}
#custom-wrapper_l {
    font-family: Terminess Nerd Font Propo;
	font-size: 1.25em;
	margin: 0 0.3em 0 0;
	color: #baccff;
}
#custom-wrapper_r {
    font-family: Terminess Nerd Font Propo;
	font-size: 1.25em;
	margin: 0 0 0 0.3em;
	color: #baccff;
}
#workspaces {
    padding: 0;
    margin: 0 0.2em 0 0.2em;
}
#workspaces button {
    border-radius: 0;
    font-size: 1em;
    padding: 0 0.2em 0 0.2em;
    margin: 0;
    font-weight: 900;
    color: #9090c0;
}
#workspaces button:hover {
	color: #E9ECEE;
	background-color: transparent;
}
#workspaces button.active {
    font-weight: 900;
    color: #C5CCFC;
}
#workspaces button.urgent {
	color: #FF4BA8;
}
