window#waybar {
	background-color: transparent;
	font-family: "JetBrainsMono Nerd Font Propo";
	font-weight: bold;
	font-size: 13.8px;
}
#clock, 
#custom-date, 
#hardware-monitor, 
#mpd {
	font-size: 1em;
	padding: 0 5px 0 5px;
	margin: 0;
	color: #C5CCFC;
}
.modules-center {
	border-radius: 0.6em;
	border: solid #baccff 1px;
	padding: 0 5px 0 5px;
	margin: 0;
	background-color: rgba(11, 16, 25, 0.6);
	color: #C5CCFC;
}

.modules-right,
.modules-left {
	border-radius: 4px;
	border: solid #baccff 1px;
	padding: 0 5px 0 5px;
	margin: 0;
	background-color: rgba(11, 16, 25, 0.6);
	color: #C5CCFC;
}
#gamemode {
	color: #DCE1FF;
	margin: 0;
	background-color: transparent;
	font-size: 1.4em;
}
#network {
	color: #DCE1FF;
	margin: 0;
	background-color: transparent;
	font-size: 1.2em;
}
#custom-power {
	color: #DCE1FF;
	margin: 0;
	background-color: transparent;
	font-size: 1.2em;
}
#custom-separator {
	margin: 0 0.6em 0 0.6em;
	color: #FF4BA8;
}
#custom-separator2 {
	margin: 0 0.6em 0 0.6em;
	color: #FF4BA8;
}
#custom-wrapper_l {
	font-size: 1em;
	margin: 0 0.4em 0 0;
	color: #C5CCFC;
}
#custom-wrapper_r {
	font-size: 1em;
	margin: 0 0 0 0.4em;
	color: #C5CCFC;
}
#workspaces {
	font-size: 1em;
	transition: 0.1s;
	background-color: transparent;
	margin: 0;
	padding: 0;
}
#workspaces button {
	min-width: 1em;
	margin: -0.1em;
	padding: 0;
	color: #FF4BA8;
}
#workspaces button:hover {
	color: #E9ECEE;
	background-color: transparent;
}
#workspaces button.active {
	color: white;
	transition: 0.05s;
}
#workspaces button.urgent {
	color: #FF4BA8;
}
#clock {
	min-width: 80px;
}
#custom-date {
	min-width: 240px;
}
#cpu {
	margin-right: 1.2em; 
}
#cpu,
#memory {
	background-color: transparent;
}
#gamemode.running {
	color: #FF4BA8;
}
