#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    format_tag_separator: " | ",
    browser_column_widths: [0, 100, 0],
    background_color: None,
    text_color: None,
    header_background_color: None,
    modal_background_color: None,
    modal_backdrop: false,
    preview_label_style: (fg: "yellow"),
    preview_metadata_group_style: (fg: "yellow", modifiers: "Bold"),
    highlighted_item_style: (fg: "6", modifiers: "Bold"),
    current_item_style: (fg: "black", bg: "6", modifiers: "Bold"),
    borders_style: (fg: "6"),
    highlight_border_style: (fg: "6"),
    symbols: (
        song: "󰽴",
        dir: "󰽯",
        playlist: "󰽻",
        marker: "󰽮",
        ellipsis: "...",
        song_style: None,
        dir_style: None,
        playlist_style: None,
    ),
    level_styles: (
        info: (fg: "6", bg: "black"),
        warn: (fg: "yellow", bg: "black"),
        error: (fg: "6", bg: "black"),
        debug: (fg: "light_green", bg: "black"),
        trace: (fg: "magenta", bg: "black"),
    ),
    progress_bar: (
        symbols: ["▬", "▬", "▬", "▬", "▬"],
        track_style: (fg: "#505050"),
        elapsed_style: (fg: "6"),
        thumb_style: (fg: "6"),
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "6"),
    ),
    tab_bar: (
        active_style: (fg: "black", bg: "6", modifiers: "Bold"),
        inactive_style: (),
    ),
    cava: (
        bar_color: Single("6"),
        bar_width: 1,
    ),
    song_table_format: [
        (
            prop: (kind: Property(Title),
                default: (kind: Text("Unknown"))
            ),
            width: "35%",
        ),
        (
            prop: (kind: Property(Album), style: (fg: "white"),
                default: (kind: Text("Unknown Album"), style: (fg: "white"))
            ),
            width: "30%",
        ),
        (
            prop: (kind: Property(Artist),
                default: (kind: Text("Unknown"))
            ),
            width: "20%",
        ),
        (
            prop: (kind: Property(Duration),
                default: (kind: Text("-"))
            ),
            width: "15%",
            alignment: Right,
        ),
    ],
    browser_song_format: [
        (
            kind: Property(Title),
        ),
    ],
    components: {},
    layout: Split(
        direction: Vertical,
        panes: [
            (
                size: "8",
				borders: "TOP",
				border_symbols: Empty,
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "21",
                            pane: Pane(AlbumArt),
							borders: "LEFT | RIGHT",
							border_symbols: Empty,
                        ),
                        (
                            size: "90%",
							align: Center,
							borders: "RIGHT",
							border_symbols: Empty,
                            pane: Split(
                                direction: Vertical,
                                panes: [
                                    (
                                        size: "10%",
                                        pane: Split(
                                            direction: Horizontal,
                                            panes: [
                                                (
                                                    size: "49%",
                                                    pane: Pane(Property(
                                                        content: [
                                                            (kind: Property(Song(Title)), style: (fg: "6", modifiers: "Bold"), default: (kind: Text("Unknown"), style: (fg: "red", modifiers: "Bold"))),
                                                        ],
                                                        align: Left,
                                                    )),
                                                ),
                                                (
                                                    size: "49%",
                                                    pane: Pane(Property(
                                                        content: [
                                                            (kind: Group([
                                                                (kind: Property(Status(RepeatV2(on_label: "󰑖", off_label: "󰑖", on_style: (fg: "6"), on_off: (fg: "white"))))),
                                                                (kind: Text(" • ")),
                                                                (kind: Property(Status(RandomV2(on_label: "", off_label: "", on_style: (fg: "6"), on_off: (fg: "white"))))),
                                                                (kind: Text(" • ")),
                                                                (kind: Property(Status(ConsumeV2(on_label: "󰴀", off_label: "󰴀", oneshot_label: "󰴀", on_style: (fg: "6"), on_off: (fg: "white"), oneshot_style: (fg: "red"))))),
                                                                (kind: Text(" • ")),
                                                            ])),
                                                                (kind: Property(Status(SingleV2(on_label: "󰑘", off_label: "󰑘", oneshot_label: "󰑘", on_style: (fg: "6"), on_off: (fg: "white"), oneshot_style: (fg: "red"))))),
                                                        ],
                                                        align: Right,
                                                    )),
                                                )
                                            ]
                                        ), 
                                    ),
                                    (
                                        size: "90%",
                                        pane: Split(
                                            direction: Vertical,
                                            panes: [
												(
													size: "1",
													pane: Pane(Property(
														content: [
															(kind: Property(Song(Artist)),default: (kind: Text("Unknown Artist"))),
														],
													)),
												),
												(
													size: "10%",
													pane: Pane(Property(
														content: [
															(kind: Property(Status(StateV2(playing_label: "", paused_label: "Paused", stopped_label: "Stopped", playing_style: (fg: "6"), paused_style: (fg: "yellow"), stopped_style: (fg: "6"))))),
														],
													)),
												),
												(
													size: "60%",
													align: Center,
													pane: Pane(Cava),
												),
												(
													size: "10%",
													align: Center,
													borders: "RIGHT",
													border_symbols: Empty,
													pane: Pane(ProgressBar),
												),
                                            ]
                                        ), 
                                    ),
                                ]
                            )
                        ),
                    ]
                ),
            ),
			(
				size: "100%",
				borders: "ALL",
				border_symbols: Empty,
				pane: Split(
					direction: Vertical,
					panes: [
						(
						size: "3",
						pane: Pane(Tabs),
						borders: "BOTTOM | TOP",
						border_symbols: Thick,
						borders_style: "(fg: black, bg: 5)"
						),
						(
						size: "100%",
						pane: Pane(TabContent),
						border_symbols: Thick,
						borders_style: "(fg: black, bg: 5)"
						),
					]
				),
			),
        ],
    ),
)
